<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title box3
        link(rel="stylesheet", href="/css/styles.css")
    body
        .sc
            .sc__col1
                .sc__col1__sec1
                    .sc__col1__sec1__node1
                    .sc__col1__sec1__node2
                .sc__col1__sec2
                    .sc__col1__sec2__add1
                    .sc__col1__sec2__add2
            .sc__col2
                .sc__col2__box1
                    .sc__col2__box1__pug1
                    .sc__col2__box1__pug2
                .sc__col2__box2
                    .sc__col2__box2__app1
                    .sc__col2__box2__app2